@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: satoshiLight;
    src: url(/fonts/Satoshi-Light.woff);
  }

  @font-face {
    font-family: satoshiReg;
    src: url(/fonts/Satoshi-Regular.woff);
  }

  @font-face {
    font-family: satoshiBold;
    src: url(/fonts/Satoshi-Bold.woff);
  }

  @font-face {
    font-family: sarpanch;
    src: url(/fonts/Sarpanch-ExtraBold.ttf);
  }

  @font-face {
    font-family: sfPro;
    src: url(/fonts/SFPRODISPLAYREGULAR.OTF);
  }

}

#root {
  padding: 0;
  margin: 0;
  max-width: unset;
  overflow-x: hidden;
}

html {
  overflow-x: hidden !important;
}

body {
  background-color: #0F041C;
  font-family: satoshiLight;
  position: relative;
}

.menu-open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-open .bar:nth-child(2) {
  opacity: 0;
}

.menu-open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}